@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';

@import '../theme';

@layer base {
	body {
		@apply bg-primary-500;
	}
}

.select,
.input,
.textarea,
.ig-input,
.ig-select {
	background-color: var(--color-surface-100-900);
	color: var(--color-surface-950-50);
}
