[data-theme='whatsapp'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: system-ui, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(82.08% 0.08 182.05deg);
	--color-primary-100: oklch(74.55% 0.08 182.94deg);
	--color-primary-200: oklch(66.84% 0.08 183.78deg);
	--color-primary-300: oklch(59.27% 0.08 182.38deg);
	--color-primary-400: oklch(51.34% 0.08 182.62deg);
	--color-primary-500: oklch(43.35% 0.08 182.22deg);
	--color-primary-600: oklch(37.18% 0.06 182.48deg);
	--color-primary-700: oklch(30.71% 0.05 182.97deg);
	--color-primary-800: oklch(24.28% 0.04 183.96deg);
	--color-primary-900: oklch(16.9% 0.03 186.22deg);
	--color-primary-950: oklch(0% 0 none);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: oklch(1 0 0 / 1);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-light);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(94.03% 0.09 190.51deg);
	--color-secondary-100: oklch(86.82% 0.09 188.84deg);
	--color-secondary-200: oklch(79.57% 0.1 187.96deg);
	--color-secondary-300: oklch(72.28% 0.1 186.13deg);
	--color-secondary-400: oklch(64.95% 0.1 184.9deg);
	--color-secondary-500: oklch(57.62% 0.1 182.39deg);
	--color-secondary-600: oklch(51.18% 0.09 180.53deg);
	--color-secondary-700: oklch(44.59% 0.08 179.12deg);
	--color-secondary-800: oklch(37.39% 0.07 176.96deg);
	--color-secondary-900: oklch(30.17% 0.05 173.83deg);
	--color-secondary-950: oklch(22.37% 0.05 167.36deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: oklch(1 0 0 / 1);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-light);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(96.57% 0.05 196.31deg);
	--color-tertiary-100: oklch(91.72% 0.07 208.69deg);
	--color-tertiary-200: oklch(86.82% 0.09 217.54deg);
	--color-tertiary-300: oklch(82.27% 0.1 223.46deg);
	--color-tertiary-400: oklch(77.7% 0.12 228.67deg);
	--color-tertiary-500: oklch(73.56% 0.14 232.8deg);
	--color-tertiary-600: oklch(66.79% 0.13 234.93deg);
	--color-tertiary-700: oklch(59.9% 0.12 237.83deg);
	--color-tertiary-800: oklch(53.03% 0.11 240.1deg);
	--color-tertiary-900: oklch(45.75% 0.11 244.1deg);
	--color-tertiary-950: oklch(38.13% 0.1 248.03deg);
	--color-tertiary-contrast-dark: oklch(0 0 0 / 1);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(94.05% 0.09 178.66deg);
	--color-success-100: oklch(91.62% 0.1 178.6deg);
	--color-success-200: oklch(89.44% 0.11 177.16deg);
	--color-success-300: oklch(87.13% 0.12 176.9deg);
	--color-success-400: oklch(85.09% 0.13 175.45deg);
	--color-success-500: oklch(82.91% 0.13 174.95deg);
	--color-success-600: oklch(72.85% 0.12 175.7deg);
	--color-success-700: oklch(62.4% 0.1 175.99deg);
	--color-success-800: oklch(51.26% 0.08 178.28deg);
	--color-success-900: oklch(39.72% 0.06 179.74deg);
	--color-success-950: oklch(27.27% 0.04 185.29deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-light);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(95.67% 0.05 84.56deg);
	--color-warning-100: oklch(92.83% 0.06 82.16deg);
	--color-warning-200: oklch(90.12% 0.08 80.33deg);
	--color-warning-300: oklch(87.59% 0.1 80.01deg);
	--color-warning-400: oklch(85.03% 0.12 78.35deg);
	--color-warning-500: oklch(82.46% 0.14 76.71deg);
	--color-warning-600: oklch(76.34% 0.13 72.25deg);
	--color-warning-700: oklch(70.34% 0.13 68.09deg);
	--color-warning-800: oklch(63.99% 0.13 63.18deg);
	--color-warning-900: oklch(57.91% 0.13 57.97deg);
	--color-warning-950: oklch(51.69% 0.13 51.44deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-light);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(89.99% 0.04 14.04deg);
	--color-error-100: oklch(83.49% 0.07 19.81deg);
	--color-error-200: oklch(77.4% 0.11 21.98deg);
	--color-error-300: oklch(72.13% 0.15 24.9deg);
	--color-error-400: oklch(67.39% 0.19 26.71deg);
	--color-error-500: oklch(63.72% 0.22 28.71deg);
	--color-error-600: oklch(59.28% 0.21 28.53deg);
	--color-error-700: oklch(54.92% 0.2 28.58deg);
	--color-error-800: oklch(50.51% 0.19 28.72deg);
	--color-error-900: oklch(46.22% 0.18 28.88deg);
	--color-error-950: oklch(41.86% 0.17 29.23deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(100% 0 none);
	--color-surface-100: oklch(90.67% 0 none);
	--color-surface-200: oklch(81.41% 0 none);
	--color-surface-300: oklch(71.55% 0 none);
	--color-surface-400: oklch(61.67% 0 none);
	--color-surface-500: oklch(51.03% 0 none);
	--color-surface-600: oklch(44.95% 0 none);
	--color-surface-700: oklch(38.67% 0 none);
	--color-surface-800: oklch(32.11% 0 none);
	--color-surface-900: oklch(25.2% 0 none);
	--color-surface-950: oklch(17.76% 0 none);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-light);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
